@import "normalize";
@import "var";
// @import "fonts";
//@import "mixins";
// @import 'blocks/header';

:root {
  --primary-color: black;
  --secondary-color: #fff;
}
html,
body {
  height: 100%;
}
html {
  transition: all 0.5s ease-in;
}
html.dark {
  --primary-color: #fff;
  --secondary-color: black;
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 100%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.clock {
  position: relative;
  width: 200px;
  height: 200px;
}
.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(0deg);
  transition: all 0.5s ease-in;
 
  &.minute {
    height: 100px;
  }
  &.second {
    background-color: #e74c3c;
  }
}
.center {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:before {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.time{
  font-size: 60px;
}
.date{
  color: #aaa;
  font-size: 14px;letter-spacing: 0.3px;
  text-transform: uppercase;
  .circle{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    width: 18px;
    height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
  }
}
